{% extends "base.html" %}
{% block title %}
更新日志
{% endblock%}

{% block content %}
<script>
document.getElementById('log').className='active';
</script>
<div class="container theme-showcase" role="main"> 
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <h1 >更新日志：</h1>
    <div><span class="label label-info">2014-7-5</span> 正式成立Treer树人工作室(树人小组) <span class="badge badge-success">v0.0.1</span></div>
    <br>
    <div><span class="label label-info">2014-7-20</span> 树人小组初部署网站程序至SAE云计算 <span class="badge badge-success">v0.0.2</span></div>
    <br>
    <div><span class="label label-info">2014-7-21</span> 增加更新日志板块 <span class="badge badge-success">v0.0.3</span></div>
    <!--<p><a href="mailto:9047230@qq.com" class="btn btn-primary btn-lg" role="button">发送邮件 »</a></p>-->
    <br>
    <div><span class="label label-info">2014-7-22</span> 增加在线邮件发送 , 模版内Meta , Style自定义模块 <span class="badge badge-success">v0.0.4</span></div>
    <br>
    <div><span class="label label-info">2014-7-23</span> 关闭DEBUG显示 , 增加 404 , 500 .html页面 <span class = "badge badge-success">v0.0.5</span></div>
    <br>
    <div><span class="label label-info">2014-7-25</span> 添加博客 , 代码板块 . 调整静态文件的输出 修复了多个关闭Debug后遗留的问题 . 增加后台管理 <span class = "badge badge-success">v0.1.0</span></div>
  <br>
  <div><span class="label label-info">2014-7-26</span> 增加导航条样式 , 优化views urls 结构 添加成员介绍页面 <span class = "badge badge-success">v0.1.1</span></div>
  <br>
  <div><span class="label label-info">2014-8-14</span> 修改404特效页面 <span class = "badge badge-success">v0.1.2</span></div>
  <br>
  <div><span class="label label-info">2014-8-16</span> 动态化成员界面 <span class = "badge badge-success">v0.1.3</span</div>
  </div>
  </div>
</div>

{% endblock %}
