{% extends "base.html" %}
{% block title %}
更新日志
{% endblock%}

{% block content %}
<script>
document.getElementById('log').className='active';
</script>
<div class="container theme-showcase" role="main"> 
  <div class="jumbotron">
    <h1 >更新日志：</h1>
    {% for log in vlist %}
    <div><span class="label label-info"> {{ log.publish_time }}</span>  {{ log.title }}  <span class="badge badge-success"> v{{ log.var }}</span></div>
    <br>
    {% endfor %}
  </div>
</div>
{% endblock %}
