{% extends "base.html" %}
{% block title %}
成员
{% endblock %}
{% block content %}
<script>
document.getElementById('member').className='active';
</script>
<div class="panel panel-default" style="width: 60%;margin-left: auto;margin-right: auto;">
<div class="panel-heading">成员介绍</div>
  <!-- Table -->
  <table class="table">
    <tr>
	    <td>昵称</td>
	    <td>简介</td>
	    <td>email</td>
	  </tr>
	  {% for member in tlist %}
	  <tr>
	    <td>{{ member.name }}</td>
	    <td>{{ member.info }} </td>
	    <td>{{ member.email }}</td>
	  </tr>
	  {% endfor %}
  </table>
</div>
{% endblock %}
