{% extends "base.html" %}
{% block title %}
成员
{% endblock %}
{% block content %}
<div class="panel panel-default">
  <div class="panel-heading">成员介绍</div>

  <!-- Table -->
  <table class="table">
    <tr>
	    <td>昵称</td>
	    <td>简介</td>
	    <td>email</td>
	  </tr>
	  <tr>
	    <td>Millyn</td>
	    <td> </td>
	    <td> </td>
	  </tr>
	  <tr>
	    <td>BugOne</td>
	    <td> </td>
	    <td> </td>
	  </tr>
	  <tr>
	    <td>陈无知</td>
	    <td>以大多数人的努力程度，根本轮不到拼天赋。</td>
	    <td>ayj1994@163.com</td>
	  </tr>
	  <tr>
	    <td>Sunshine</td>
	    <td> </td>
	    <td> </td>
	  </tr>
	  <tr>
	    <td>萧风</td>
	    <td> </td>
	    <td> </td>
	  </tr>
	  <tr>
	    <td>WhyWhyNot</td>
	    <td> </td>
	    <td> </td>
	  </tr>
	  <tr>
	    <td>Melodic</td>
	    <td> </td>
	    <td> </td>
	  </tr>
	  <tr>
	    <td>丁攻子</td>
	    <td> </td>
	    <td> </td>
	  </tr>
	  <tr>
	    <td>公子小白</td>
	    <td> </td>
	    <td> </td>
	  </tr>
	  <tr>
	    <td>槛外人</td>
	    <td> </td>
	    <td> </td>
	  </tr>
	  <tr>
	    <td>Rancho</td>
	    <td> </td>
	    <td> </td>
	  </tr>
  </table>
</div>
{% endblock %}